[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
xmltodict = "*"
flask = "*"
pyserial = "*"
psycopg2 = "*"
flask-sqlalchemy = "*"
bcrypt = "*"
pyjwt = "*"
flask-cors = "*"
cryptography = "*"
psycopg2-binary = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
